# Python / Environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Kaggle / Secrets
kaggle.json
*.zip

# Datasets / Large Artifacts
dr_data/
content/
*.tar.gz

# OS
Thumbs.db
.DS_Store

# Local spreadsheets
*.xlsx
coursework_report_draft.md
*.docx
*.pdf
